nav {
    height: 50px;
    background-color: #00b4e2;
    text-align: center;
    line-height: 50px;
}







.ms_green {
    color: green;
}

.ms_blue {
    color: blue;
}

.ms_orange {
    color: orange;
}